/*CLASSESS CONTENT*/

/* Dropdown Button */
.clButt {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    z-index: 1;
    float:left;
    display: inline-block;
    left:10px;
    top:10px;
}

/* Dropdown button on hover & focus */
.clButt:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.clButt {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.cldown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.cldown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.cldown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/*////////Studio Content////////*/
/* Dropdown Button */
.stButt {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    z-index: 1;
    float: left;
    display: inline-block;
    position: absolute;
    left: 15px;
    top: -4px;
}

/* Dropdown button on hover & focus */
.stButt:hover, .stButt:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.studioDrop {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.stDrop-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.stDrop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.stDrop-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/*////////digiDrop Content////////*/
/* Dropdown Button */
.digiButt {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    z-index: 1;
    float: left;
    display: inline-block;
    position: absolute;
    left: 97px;
    top: -4px;
}

/* Dropdown button on hover & focus */
.digiButt:hover, .digiButt:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.digiDrop {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.digi-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.digi-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.digi-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/*////////Equip Content////////*/
/* Dropdown Button */
.equipButt {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    z-index: 1;
    float: left;
    display: inline-block;
    position: absolute;
    left: 214px;
    top: -4px;
}

/* Dropdown button on hover & focus */
.equipButt:hover, .equipButt:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.equipDrop {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.equip-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.equip-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.equip-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/*////////Other Content////////*/
/* Dropdown Button */
.otherButt {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    z-index: 1;
    float: left;
    display: inline-block;
    position: absolute;
    left: 330px;
    top: -px;
}

/* Dropdown button on hover & focus */
.otherButt:hover, .otherButt:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.otherDrop {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.other-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.other-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.other-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.a-enter-vr-button { 
    z-index: -1 !important;}

#grab{
    position: inherit;
    right: 2%;
    top: 88%;
    padding: 5px;
    opacity: 1;
    z-index: 2;
    color:white;
    font: arial; 
    font-size: 16px;
    display:none;
}